@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  /* --color-primary: #a3745d;
  --color-primary-500: #784c45;
  --color-primary-700: #643f3c;
  --color-primary-dull:  */
  --color-primary-50: #f8f5f2;
  --color-primary-100: #ebe2da;
  --color-primary-200: #d5c3b2;
  --color-primary-300: #bfa28a;
  --color-primary-400: #b08a6f;
  --color-primary-500: #a3745d;
  --color-primary-600: #916051;
  --color-primary-700: #784c45;
  --color-primary-800: #643f3c;
  --color-primary-900: #533634;
  --color-primary-950: #2e1b1a;
}
